.button-baru {
    background-color: #f4c046;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-baru:hover {
    background-color: #561c24;
}
